{{ partial "header.html" . }}

	<main role="main">

	<b>Tags</b><br/>
	<div class="tags">
		{{range .Site.Taxonomies.tags -}} 
			<a href={{ .Page.RelPermalink }}>
				{{.Page.Title}}
			</a><sup class=b>{{.Count}}</sup>
		{{- end}}
	</div>	

	<!-- Posts -->
	
	{{ range where .Sections "Section" "=" "post" }}
	<div class="posts">
		<b>Posts</b><br/>
		{{ range .Pages }}
			<article>
				<h2 class="entry-title">
					<a href="{{ .RelPermalink }}">{{ .Title }}</a>
				</h2>
				<span class="entry-meta">
					<time datetime="{{ .Date.Format "2006-01-02" }}">
						{{ .Date.Format "2006, January 02" }}
					</time>
				</span>
			</article>
		{{ end }}
	</div>
	{{ end }}
	
	</main>

{{ partial "footer.html" . }}