<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<link rel=stylesheet type="text/css" href="/css/basic.css">
	<link href="http://feeds.feedburner.com/JaimeSilvela-TechNotes"
		rel="alternate" title="Jaime’s Tech Notes" type="application/atom+xml" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="//code.cdn.mozilla.net/fonts/fira.css">
</head>
<body>
	{{content}}

	<div class="rss">
		<a href="http://feeds.feedburner.com/JaimeSilvela-TechNotes">Subscribe to feed</a>
	</a>
	</div>
	{% include google_analytics.html %}
</body>
</html>
